@import "../public/fontawesome/css/all.css";
@import "../public/bulma.min.css";

html, body {
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main > .section {
  display: flex;
  flex: 1;
  height: 100%;
}

.is-scrollable {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.sprites {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1em;
}